@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Montserrat";
  font-weight: 600;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-nav {
  margin-right: 20px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.align-cards {
  margin-bottom: 100px;
  background-color: red;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Features Section */
#features {
  padding: 7% 15%;
  z-index: -1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* TESTIMONIALS */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section*/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.inner-pricing-column {
  padding: 5% 35px 5% 35px;
}