<%- include("partials/header") -%>
<h1>Compose</h1>
<form method="post" action="/compose">
	<input type="text" class="" name="postTitle" autocomplete="off"/>
	<button type="submit" name="">Publish</button>
</form>
<%- include("partials/footer") -%>
