<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" method="post" action="/compose">
	<input type="text" class="" name="postTitle" autocomplete="off" />
    <textarea name="Text1" rows="5" cols="40" autocomplete="off"></textarea>
	<button class="btn btn-primary" type="submit" name="">Publish</button>
</form>

<%- include("partials/footer") -%>
